.icons {
    border: 0.1rem solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--primary-color);
        color: var(--light-color);
    }
    &-white {
        @extend .icons;
        color: var(--light-color);
        border-color: var(--light-color);
        &:hover {
            background-color: var(--light-color);
            color: var(--primary-color);
        }
    }
}

.lead {
    margin-bottom: 2rem;
    &-large {
        margin-bottom: 4rem;
    }
}

.text-center {
    text-align: center;
}

.btn {
    text-transform: uppercase;
    padding: 1.3rem 3.2rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease;
    border: 0.1rem solid;
    color: var(--light-color);
    cursor: pointer;
    &-light {
        color: var(--light-color);
        border-color: var(--light-color);
        &:hover {
            color: var(--light-color);
            background-color: var(--dark-color);
        }
    }
    &-dark {
        border-color: var(--dark-color);
        background-color: var(--dark-color);
        &:hover {
            background-color: var(--primary-color);
            color: var(--light-color);
        }
    }
    &-primary {
        border-color: var(--primary-color);
        background-color: var(--primary-color);
        &:hover {
            background-color: var(--primary-dark);
        }
    }
}

.section-title {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--dark-color);
    position: relative;
    text-align: center;
    .last-word {
        color: var(--primary-color);
    }
    &-about {
        text-align: center;
        margin-top: 4rem;
        line-height: 1.5;
        color: var(--medium-dark);
    }
    &::after {
        content: '';
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        height: 1rem;
        background: url("../img/bottom-line.svg");
        background-size: 200px 10px;
        background-repeat: no-repeat;
    }
}

.banner {
    margin: 6rem auto 2rem auto;
    width: 50%;
}

.matter-heading {
    &-large {
        text-transform: uppercase;
        font-size: 2.5rem;
    }
    &-small {
        text-transform: uppercase;
        font-size: 2rem;
    }
}