@import "config";
@import "utilities";
// CSS RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

li {
    list-style: none;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1280px;
    padding: 0 3rem;
    margin: 0 auto;
}

// NAVIGATION
.navigation {
    // UPPER NAVIGATION
    &-upper {
        @include flex;
        padding: 2rem 0;
        .logo {
            @include flex;
            img {
                width: 6rem;
                margin-right: 2rem;
            }
            h1 {
                font-size: 3rem;
                span {
                    color: var(--primary-color);
                }
            }
        }
        .contact {
            li {
                display: inline-block;
                span {
                    display: inline-block;
                    &:last-child {
                        margin-left: 1rem;
                    }
                }
                &:last-child {
                    margin-left: 2rem;
                }
            }
        }
    }
    // LOWER NAVIGATION
    &-lower {
        background-color: var(--primary-color);
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                padding: 2rem 0;
                text-transform: uppercase;
                font-size: 1.3rem;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
        a {
            transition: color 0.3s ease;
            &:hover {
                color: var(--dark-color);
            }
        }
    }
}

// SHOWCASE
.showcase {
    background: url("../img/showcase.png") no-repeat center center/cover;
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding: 20rem 0;
    }
    &-title {
        color: var(--light-color);
        font-size: 7rem;
        text-transform: uppercase;
    }
    p {
        color: var(--light-color);
        font-size: 2.5rem;
        line-height: 1.5;
    }
    .buttons {
        margin-top: 2rem;
        a {
            &:first-child {
                margin-right: 2.4rem;
            }
        }
    }
}

// ABOUT SECTION
#about {
    .what-we-do {
        @include flex;
        p {
            color: var(--medium-dark);
        }
        .intro {
            width: calc(40% - 2rem);
            p {
                margin-bottom: 4rem;
            }
        }
        .detail {
            width: calc(60% - 2rem);
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            li {
                width: calc(50% - 2rem);
                margin-bottom: 5rem;
                i {
                    color: var(--primary-color);
                }
            }
        }
    }
    .achievement {
        ul {
            display: flex;
            li {
                @include flex;
                justify-content: center;
                padding: 8rem 2rem;
                width: 25%;
                &:nth-child(odd) {
                    background-color: var(--medium-color);
                }
                &:nth-child(even) {
                    background-color: var(--medium-light);
                }
            }
            .icons {
                margin-right: 2rem;
            }
            .figure {
                font-size: 3rem;
                color: var(--primary-color);
            }
        }
    }
    .skills {
        h3 {
            margin: 4rem 0;
        }
        &-details {
            @include flex;
            ul {
                width: calc(50% - 2rem);
                p {
                    max-height: 0;
                    overflow: hidden;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }
                h4 {
                    background-color: var(--primary-color);
                    color: var(--light-color);
                    padding: 1.5rem;
                    position: relative;
                    &:after {
                        font-family: "Line Awesome Free";
                        font-weight: 900;
                        content: "\f0d7";
                        position: absolute;
                        left: 95%;
                    }
                }
                li {
                    position: relative;
                    background-color: var(--medium-light);
                }
                input {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    right: 0;
                    width: 100%;
                    height: 5rem;
                    cursor: pointer;
                    opacity: 0;
                    &:checked {
                        &~p {
                            // display: block;
                            // transform: scaleY(1);
                            max-height: 15rem;
                            transition: all 0.3s ease-in;
                            opacity: 1;
                            padding: 1.5rem;
                            line-height: 2.0rem;
                        }
                        &+h4 {
                            &:after {
                                content: "\f068";
                            }
                        }
                    }
                }
            }
            .knowledge {
                width: calc(50% - 2rem);
                p {
                    margin-bottom: 1rem;
                    color: var(--medium-dark);
                }
                .progress {
                    overflow: hidden;
                    height: 1.5rem;
                    background-color: var(--medium-color);
                    margin-bottom: 2rem;
                    div {
                        height: 100%;
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}

// SERVICES
#service {
    .services {
        ul {
            @include flex;
            flex-wrap: wrap;
            text-align: center;
            li {
                width: calc((100% / 4) - 2rem);
                padding: 2rem;
                border: 0.1rem solid var(--medium-color);
                margin-bottom: 2rem;
                transition: all 0.3s ease;
                &:hover {
                    background-color: var(--primary-color);
                    color: var(--light-color);
                    transform: translateY(0.8rem);
                    .icons {
                        color: var(--light-color);
                        border-color: var(--light-color);
                    }
                }
            }
        }
        margin-bottom: 2rem;
    }
    .video-container {
        position: relative;
        text-align: center;
        color: var(--light-color);
        video {
            width: 100%;
        }
        .controls {
            position: absolute;
            z-index: 2;
            @include controls-flex;
            background-color: rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease;
        }
    }
}

// PORTFOLIO
#portfolio {
    .matter {
        display: flex;
        flex-direction: column;
        align-items: center;
        .tabs {
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
            a {
                color: var(--dark-color);
                cursor: pointer;
                &:hover {
                    color: var(--primary-color);
                }
            }
        }
        .gallery {
            @include flex;
            flex-wrap: wrap;
            li {
                width: calc((100% / 3) - 2rem);
                position: relative;
                transition: all 0.3s ease;
                &:hover {
                    transform: translateY(1rem);
                    .controls {
                        opacity: 1;
                    }
                }
                margin-bottom: 2rem;
            }
        }
        .controls {
            opacity: 0;
            text-align: center;
            position: absolute;
            @include controls-flex;
            background-color: rgba($color: #2e7db4, $alpha: 0.5);
            transition: all 0.3s ease;
        }
        img {
            width: 100%;
        }
        h4 {
            color: var(--light-color);
        }
    }
}

// TEAM
#team {
    .gallery {
        @include flex;
        text-align: center;
        li {
            width: calc((100% / 4) - 4rem);
        }
        img {
            width: 100%;
        }
        .img {
            position: relative;
            transition: all 0.3s ease;
            &:hover {
                transform: translateY(1rem);
                .social {
                    opacity: 1;
                }
            }
        }
        .social {
            position: absolute;
            @include controls-flex;
            flex-direction: row;
            opacity: 0;
            background-color: rgba($color: #2e7db4, $alpha: 0.5);
            transition: all 0.3s ease;
        }
        i {
            padding: 0.4rem;
            &:not(:last-child) {
                margin-right: 0.5rem;
            }
        }
        margin-bottom: 4rem;
    }
    .clients {
        background: url("../img/client.png") no-repeat center center/cover;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            padding: 10rem 0;
            color: var(--light-color);
            span {
                color: var(--primary-color);
            }
        }
    }
}

// Pricing
#pricing {
    .cards {
        @include flex;
        text-align: center;
        &>li {
            width: calc((100% / 4) - 2rem);
            border: 0.1rem solid var(--medium-color);
            padding: 3rem 3rem 4rem 3rem;
            transition: all 0.3s ease;
            &:hover {
                background-color: var(--primary-color);
                color: var(--light-color);
                .price {
                    color: var(--dark-color)
                }
                .btn {
                    border-color: var(--dark-color);
                    background-color: var(--dark-color);
                }
            }
        }
        .price {
            color: var(--primary-color);
            span {
                font-size: 5rem;
            }
        }
        .options {
            li {
                margin-bottom: 1rem;
            }
        }
    }
}

// Blog
#blog {
    .news {
        @include flex;
        li {
            width: calc((100% / 3) - 4rem);
        }
        img {
            width: 100%;
        }
        h4 {
            font-size: 1.8rem;
        }
        .author {
            color: var(--primary-color);
        }
    }
    .sources {
        @include flex;
        align-items: flex-start;
        img {
            width: calc((100% / 5) - 2rem);
            padding: 4rem 2rem;
            border: 0.1rem solid var(--medium-color);
        }
    }
}

// contact
#about {
    form {
        @include flex;
        flex-wrap: wrap;
        input[type=text],
        input[type=email] {
            width: calc((100% / 3) - 2rem);
            padding: 1.5rem 2rem;
            margin-bottom: 2rem;
        }
        textarea {
            width: 100%;
            height: 20rem;
            margin-bottom: 2rem;
        }
        .btn {
            margin: 0 auto;
        }
        margin-bottom: 4rem;
    }
    .bottom-banner {
        background-color: var(--primary-color);
        .content {
            @include flex;
            padding: 2rem 0;
            h3 {
                color: var(--light-color);
                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}